includes:
    - vendor-tools/phpstan/phpstan-nette/extension.neon
    - vendor-tools/phpstan/phpstan-nette/rules.neon

parameters:
    excludes_analyse:
        - %rootDir%/../../../tests/_*

    ignoreErrors:
