extensions:
    arachne.service_collections: Arachne\ServiceCollections\DI\ServiceCollectionsExtension
    arachne.twig: Arachne\Twig\DI\TwigExtension(%tempDir%/cache/twig)

arachne.twig:
    options:
        debug: true
    dumpOptions:
        truncate: 8
    paths:
        - %appDir%/templates/default
        namespace:
            - %appDir%/templates/namespace

services:
    datetime:
        class: DateTime
        tags:
            arachne.twig.runtime: DateTime
